@model Hyoung.FMS.WebClient.Models.Report


    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-content">
                <div class="file-manager">
                    <h5>Get report data</h5>

                    <div class="hr-line-dashed"></div>
                    <div class="hr-line-dashed"></div>

                    @using (Html.BeginForm())
                    {

                        using (Html.DevExtreme().ValidationGroup())
                        {

                            @Html.AntiForgeryToken()

                            <div class="dx-fieldset">

                                <div class="dx-field">
                                    <div class="dx-field-label">
                                        @Html.DevExtreme().TextArea().Value("Report")
                                    </div>
                                    <div class="dx-field-value">
                                        @*@Html.DevExtreme().DropDownBox().ID("dropDownBox").DataSource(new[] { "LV report ", "HV report", "Flow meter LV report" }).Value("LV report ").ContentTemplate(new TemplateName("list"))*@


                                    </div>


                                </div>
                                <div class="dx-field">
                                    <div class="dx-field-label">
                                        @Html.DevExtreme().TextArea().Value("Start Date")
                                    </div>
                                    <div class="dx-field-value">
                                        @(Html.DevExtreme().DateBox().Value(DateTime.Today);
                                            )
                                    </div>
                                </div>
                                <div class="dx-field">
                                    <div class="dx-field-label">
                                        @Html.DevExtreme().TextArea().Value("End Date");
                                    </div>
                                    <div class="dx-field-value">
                                        @(Html.DevExtreme().DateBox().Value(DateTime.Today.AddDays(-1));
                                            )
                                    </div>
                                </div>
                            </div>



                            <div class="dx-fieldset">
                                @(Html.DevExtreme().ValidationSummary()
                                                        .ID("summary")
                                    )
                                @(Html.DevExtreme().Button()
                                                        .ID("button")
                                                        .Text("Acquire Data")
                                                        .Type(ButtonType.Success)
                                                        .UseSubmitBehavior(true)
                                    )
                            </div>
                        }
                    }

                   
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
