



@*<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Report Manager</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
            </li>
            <li class="breadcrumb-item">
            Reports
            </li>
            <li class="active breadcrumb-item">
                <strong>Report Acq</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="file-manager">
                        <h5>Get report data</h5>

                        <div class="hr-line-dashed"></div>
                        <div class="hr-line-dashed"></div>


                        @using (Html.BeginForm())
                        {

                            using (Html.DevExtreme().ValidationGroup())
                            {

                                @Html.AntiForgeryToken()

                                <div class="dx-fieldset">

                                    <div class="dx-field">
                                        <div class="dx-field-label">
                                            @Html.LabelFor(m => m.reportID)
                                        </div>
                                        <div class="dx-field-value">
                                            @Html.DevExtreme().DropDownBox().ID("dropDownBox").DataSource(new[] { "LV report ", "HV report", "Flow meter LV report" }).Value("LV report ").ContentTemplate(new TemplateName("list"))


                                        </div>


                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">
                                            @Html.LabelFor(m => m.StartDate)
                                        </div>
                                        <div class="dx-field-value">
                                             @(Html.DevExtreme().DateBoxFor(m => m.StartDate)
                                            )
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">
                                            @Html.LabelFor(m => m.EndEnd)
                                        </div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().DateBoxFor(m => m.EndEnd)
                                            )
                                        </div>
                                    </div>
                                </div>



                                <div class="dx-fieldset">
                                    @(Html.DevExtreme().ValidationSummary()
                                                        .ID("summary")
                                    )

                                    @(Html.DevExtreme().Button()
                                                        .ID("button")
                                                        .Text("Acquire Data")
                                                        .Type(ButtonType.Success)
                                                        .UseSubmitBehavior(true)
                                    )
                                </div>
                            }
                        }

                        @using (Html.DevExtreme().NamedTemplate("list"))
                        {
                            @(Html.DevExtreme().List()
                                        .DataSource(new JS("component.option('dataSource')"))
                                        .SelectionMode(ListSelectionMode.Single)
                                        .OnSelectionChanged("innerList_selectionChanged")
                            )
                        }
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">

                    @(Html.DevExtreme().DataGrid()
             .ID("gridContainer"))

                </div>
            </div>
        </div>
    </div>
</div>*@











<script>
    function innerList_selectionChanged(e) {
        var dropDownBox = $("#dropDownBox").dxDropDownBox("instance");
        dropDownBox.option("value", e.addedItems[0]);
        dropDownBox.close();
    }
</script>


